* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  padding: 3% 9.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5ff40;
  font-size: 18px;
  font-weight: bold;
}
#nav-items {
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
#nav-item {
  padding: 20px;
  border-radius: 30px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#nav-item:hover {
  background-color: #171717;
  color: #d5ff40;
}
#part1 {
  background-color: #d5ff40;
  padding: 0 9.5%;
}
#sec1 {
  padding-top: 5%;
  align-items: center;
}
#h1-card {
  display: flex;
  align-items: center;
}
#sec1 h1 {
  font-size: 160px;
}
.image-card {
  background-image: url(https://images.unsplash.com/photo-1511300636408-a63a89df3482?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8M2QlMjB3YWxscGFwZXJ8ZW58MHx8MHx8fDA%3D);
  background-size: cover;
  background-position: center;
}
#play-card {
  display: flex;
  align-items: center;
  padding-left: 0.5%;
  margin-left: 6%;
  height: 85px;
  width: 320px;
  border-radius: 50px;
}
#play-icon {
  display: flex;
  align-items: center;
  padding-left: 4%;
  background-color: black;
  height: 78px;
  width: 78px;
  border-radius: 50px;
}
#play-icon i {
  color: #d5ff40;
  font-size: 50px;
  transition: transform 0.3s ease;
}
#play-icon i:hover {
  transform: translateX(5px);
}
#h1-para {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#h1-para p {
  font-size: 21px;
  margin-right: 1%;
}
#sec2 {
  margin: 2% 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-card {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 5px 9px;
  gap: 25px;
  border-radius: 45px;
  border: 1px solid #909090;
  font-weight: bold;
  white-space: nowrap;
  font-size: 18px;
}
.icon-card i {
  font-size: 33px;
  font-weight: normal;
  color: #c1c1c1;
  transition: transform 0.3s ease;
}
.icon-card:hover {
  border-color: white;
  color: white;
}
.icon-card:hover i {
  transform: translateX(10px);
}
#sec2 .icon-card {
  border-color: black;
  color: black;
  font-size: 16px;
}
#sec2 .icon-card i {
  color: black;
}
#line-icon {
  width: 600px;
  height: 8px;
}
#sec3 {
  margin-top: 8%;
  height: 620px;
  background-image: url(image.png);
  background-size: cover;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
#spin-circle {
  background-color: black;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  position: relative;
  left: 60%;
  top: -10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#spin-circle::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  border: 7px dashed #d5ff40;
  animation: spin 10s linear infinite;
  pointer-events: none;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#spin-circle i {
  font-size: 180px;
  color: #d5ff40;
  transition: transform 0.2s ease;
}
#spin-circle:hover i {
  transform: scale(0.9);
}
#sec4 {
  overflow: hidden;
  padding: 3.7% 0;
  background-color: black;
}
#ticker {
  white-space: nowrap;
  color: #d5ff40;
  font-size: 55px;
  font-weight: bold;
  gap: 100px;
  display: flex;
  align-items: center;
  animation: scroll 15s linear infinite;
}
#ticker i {
  font-size: 40px;
}
@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-59%);
  }
}
#part2 {
  background-color: #171717;
  padding: 0 9.5%;
  color: #909090;
}
#sec5 {
  padding-top: 7%;
  display: flex;
  gap: 40px;
}
#text {
  width: 60%;
}
#text h2 {
  font-size: 85px;
}
.full-stop {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #d5ff40;
  border-radius: 50%;
}
#text p {
  margin-top: 4%;
  font-weight: bold;
  font-size: 17px;
}
#cards-box {
  margin-top: 9%;
  margin-right: 6%;
  width: 28%;
  display: grid;
  gap: 20px;
}
.card-group {
  display: flex;
  gap: 25px;
}
#text-arrow {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 45px;
  font-weight: bold;
  padding: 0 5%;
  padding-top: 4%;
  padding-bottom: 2%;
  border-bottom: 1px solid #909090;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
#text-arrow .full-stop {
  width: 8px;
  height: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  font-size: 80px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.arrow i {
  transition: transform 0.3s ease;
}
#text-arrow:hover .arrow {
  background-color: #d5ff40;
  color: #909090;
}
#text-arrow:hover {
  background-color: #909090;
  color: white;
}
#text-arrow:hover .full-stop {
  opacity: 1;
}
.arrow:hover i {
  transform: translate(5px, -5px);
}
#text-arrow .arrow:hover {
  background-color: #e9e9e9;
  color: #909090;
}
/* .img {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 70px;
  left: 21%;
  top: -36%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
#text-arrow:hover .img {
  opacity: 1;
} */
#sec7 {
  padding-top: 13%;
}
#text-box {
  padding: 11% 13.5%;
  background-color: #292929;
}
#text-box p {
  font-size: 63px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 90px;
}
#long-img {
  width: 230px;
  height: 60px;
  border-radius: 30px;
  display: inline-block;
}
#short-img {
  width: 130px;
  height: 60px;
  border-radius: 30px;
  display: inline-block;
}
#arrow-box {
  width: 100px;
  height: 60px;
  border-radius: 40px;
  background-color: #d5ff40;
  display: inline-flex;
  font-size: 60px;
}
#text-box #mid-img {
  width: 160px;
  height: 60px;
  display: inline-block;
  border-radius: 30px;
}
#sec8 {
  margin: 7% 0;
}
#h3-para {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 {
  font-size: 83px;
}
#h3-para p {
  font-weight: bold;
  width: 33%;
  line-height: 23px;
}
#horizontal-cards {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}
